.top-header{
    background-color: #A3E1E6;
    width: 100%;
    height: 200px;
    margin-bottom: 0;
}

.js-logo{
    object-fit: cover;
    height: 200px;
    width: 200px;
}

nav{
    height: 100vh;
    width: 350px;
    margin-top: 0;
    background-color: #DBEAFF;
    margin-bottom: 10px;
    padding-top: 20px;
}

.nav-header{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.nav-item{
    height: 70px;
    background-color: #DBEAFF;
}